#main {
  cursor: pointer;
  text-align: center;
}

nav.navbar div.navbar-inner{
  height:60px;
}

.navbar .navbar-inner .navbar-contents-wrapper {
  width: 940px;
}

nav.navbar div.navbar-inner a.brand {
  padding-top: 4px;
}

.navbar a {
  font-size: 19px;
  font-weight: 100;
}

#main-image {
  border-radius: 6px;
}

#main-image-wrapper {
  margin-top: 10px;
  margin-bottom: 10px;
}

.info-row {
  color: #999999;
}

.business-name {
  margin-top: 0;
  margin-bottom: 0;
}

.dropdown-menu {
  background: #404040;
  text-align: center;
  border-radius: 0;
}

.dropdown-menu li a {
  display: block;
  padding: 10px 0;
  border-bottom: none;
  border-top: solid #3d3d3d 1px;
  color: #fff;
  font-size: 16px;
  font-weight: 100;
}