nav.navbar div.navbar-inner{
  height:60px;
}

.navbar .navbar-inner .navbar-contents-wrapper {
  width: 940px;
}

nav.navbar div.navbar-inner a.brand {
  padding-top: 4px;
}

#main-image {
  border-radius: 6px;
}

#main-image-wrapper {
  margin-top: 10px;
  margin-bottom: 10px;
}

.info-row {
  color: #999999;
}

.business-name {
  margin-top: 0;
  margin-bottom: 0;
}