body {
  font-family: "proxima-nova","Helvetica Neue",Helvetica,Arial,sans-serif;
  padding-top: 1px; /* Prevent margin collapse */
}

nav.navbar div.navbar-inner{
  height:60px;
}

.navbar .navbar-inner .navbar-contents-wrapper {
  width: 940px;
}

nav.navbar div.navbar-inner a.brand {
  padding-top: 4px;
}

#main {
  cursor: pointer;
  text-align: center;
  margin-top: 100px;
}

.centered-container {
  margin-left: 310px;
}

h1.product-name, h4.business-name {
  font-weight: 600;
}

#main-image {
  border-radius: 6px;
}

#main-image-wrapper {
  margin-top: 10px;
  margin-bottom: 10px;
}

.product-description {
  font-size: 16px;
}

.info-row {
  color: #999999;
}

.business-name {
  margin-bottom: 0;
}